// Помощники
//@import 'mixins/mixins';//миксины scss
@import 'main/stylesheet';// шрифты
//@import 'main/parameters';// переменные

//Общее
@import 'main/reset'; // сброс стилей для кроссбраузерности
//@import 'main/common'; // общие стили
//@import 'main/grid'; // базовая 12ти колоночная сетка для сайта(сделана на основе bootstrap), классы .container/.row/.col-md-6 и т.д.

// дальше можно писать все стили сайта в этот файл, или писать их в компонентах
@import 'components/header.scss';
* {
    font-family: Roboto;
    box-sizing: border-box;
    font-size: 18px;
    
}
.conteiner {
    margin: 0 auto;
    font-size: 20px;


}
img {
    width: 100%;
}