.conteiner
    header
        .header-box
            .header_conteiner
                .title
                    .title_logo 
                        a.logo(href="#") un
                    .title_logo Uladzislau Nihamedzianau
                .menu
                    ul.menu_header
                        li.menu_header-list 
                            a.menu_header-list(href="#about_me") about me
                        li.menu_header-list 
                            a.menu_header-list(href="#my_skills") my skills
                        li.menu_header-list 
                            a.menu_header-list(href="#previous_job") previous job
            .contact   
                .contact_phone 
                    a.phone(href="tel:+375292623227")
                        img.phone(src="./assets/imgs/phone.png", alt="")
        .header_forme 
            .header_forme-text Привет! Меня зовут Владислав Нигомедзянов, мне 27 лет. Я начинаю свой путь в качестве frontend-разработчика.
            .header_forme-img 
                img.i(src="./assets/imgs/i.png", alt="")
    main
        .main_conteiner
            .aboat_me(id='about_me')
                .aboat_me-title Кратко обо мне
                .aboat_me-autb
                    .aboat_me-text Родился в 1994 году в Минске в семье инженера и бухгалтера. По окончанию средней школы поступил в Военную академию РБ, которую окончил в 2016 году по специальности "инженер-специалист по управлению". Работал по специальности до 2021 года. Женат, воспитываем сына Илью (3 года). 
                    .aboat_forme-img
                        img.fam(src="./assets/imgs/fam.png", alt="")
            .aboat_me(id='my_skills') 
                .aboat_me-title Мои навыки
                .aboat_me-main
                    .aboat_me-text В 2020 году возникла необходимость сменить род деятельности, стал активно искать для себя альтернативную профессию. Выбрал направление веб-разработки. Около 6 месяцев самостоятельно изучал html и css, основы программирования языков jawa, C++. С мая 2021 года обучаюсь на курсе frontend-разработки. Успешно освоил HTML5, CSS3, получил опыт верстки с помощью сборщика gulp, работой с git, bootstrap, SCSS, верстки по макетам (figma). Английский - Pre-Intermediate, постоянно работаю над повышением уровня
                    ul.aboat_me-skills
                        li HTML5 
                        li CSS3 
                        li SCSS 
                        li git 
                        li Bootstrap
                    .aboat_forme-img
                        img.fam(src="./assets/imgs/cert.jpg", alt="")
            .aboat_me(id='previous_job')
                .aboat_me-title Прежнее место работы
                .aboat_me-text С 2016 по 2021 проходил службу в ВВС и войсках ПВО на офицерских должностях. В целом карьера складывалась отлично: достиг высокой должности, не имел нареканий со стороны руководства и коллег. Последняя должность подразумевала контроль за правильной эксплуатацией радиоэлектронного оборудования и его ремонта.  В 2020 году осознал, что ошибся с выбором профессии, в связи с этим в поисках новой работы
    footer 
            .footer_conteiner 
                a.foot(href="tel:+375292623227") +375(29)262-32-27
                .ps P.S. на создание странички ушло не более часа, сделанa в тренеровочных   целях